<div class="row">
  <div class="col">
    <h2>Memberships</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">User</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <th class="align-middle" scope="row"><%= member.id %></th>
            <td class="align-middle">
              <%= member.team.emoji %> 
              <%= member.team.name %>
            </td>
            <td class="align-middle">
              <%= member.user.email %> 
            </td>
            <td class="align-middle" style="width: 70px"><%= link_to 'Show', member, class: 'btn btn-sm btn-outline-primary' %></td>
            <td class="align-middle" style="width: 70px"><%= link_to 'Edit', edit_member_path(member), class: 'btn btn-sm btn-outline-secondary' %></td>
            <td class="align-middle" style="width: 70px"><%= link_to 'Destroy', member, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Membership', new_member_path %>
  </div>
</div>
