<div class="row">
  <div class="col">
    <h2>Team #<%= @team.id %></h2>
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>
    
    <strong>Logo:</strong>
   
    <% if @team.logo.attached? %>
      <%= image_tag @team.logo, width: '250px' %>
    <% end %>
    
    <br />

    <%= link_to 'Edit', edit_team_path(@team) %> |
    <%= link_to 'Back', teams_path %>
  </div>
</div>
